react-native-vector-icons
@react-navigation/native 
@react-navigation/native-stack
@react-navigation/material-top-tabs
@react-navigation/bottom-tabs
react-native-screens : Hỗ trợ navigate sang các screen khác
react-native-safe-area-context

react-native-pdf: read pdf file 
react-native-blob-util: and support for reading pdf file
https://stackoverflow.com/questions/72674863/facing-reactnativeblobutil-request-error-in-react-native

Text extract:
react-native-fetch-blob 
pdf-parse

Bottom sheet:  // deleted
reanimated-bottom-sheet
react-native-reanimated , react-native-gesture-handler to support

Picker :@react-native-picker/picker